.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 16px !important;
  line-height: 24px !important;
}

.wmde-markdown ul {
  list-style-type: disc;
}
.wmde-markdown ul ul {
  list-style-type: circle;
}

.wmde-markdown ol {
  list-style-type: decimal;
}
.wmde-markdown ol ol {
  list-style-type: lower-alpha;
}

.wmde-markdown img {
  display: inline;
}

@media (prefers-color-scheme: dark) {
  .wmde-markdown,
  .wmde-markdown-var {
    --color-canvas-default: rgb(5 5 5 / var(--tw-bg-opacity));
  }
}
